.container {
    width: 100%;
    height: var(--structural-header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.containerInner {
    margin: 0 auto;
    max-width: var(--structural-max-width);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--structural-standard-padding);
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: 600;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s ease;
}