.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 80px auto;
    padding: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --featured-blog-preview-container-height: 320px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    border-radius: 6px;
}

.container:hover {
    box-shadow: rgba(50, 50, 93, 0.3) 0px 12px 24px -2px, rgba(0, 0, 0, 0.4) 0px 6px 14px -3px;
}

.textContainer {
    flex-basis: 70%;
    height: 100%;
    min-height: var(--featured-blog-preview-container-height);
    display: flex;
    align-items: center;
}

.imageContainer {
    flex-basis: 50%;
    display: flex;
    height: 100%;
    position: relative;
    overflow: hidden;
    min-height: var(--featured-blog-preview-container-height);
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.textContainerCentered {
    width: 85%;
    margin: 0 auto;
}

.textContainer h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}

.textContainer p {
    margin: 0;
    color: var(--color-grey);
    font-size: 12px;
}

@media screen and (max-width: 840px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
        justify-content: center;
        width: 95%;
        max-width: 800px;
        margin: 80px auto;
        padding: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        --featured-blog-preview-container-height: 140px;
        cursor: default;
    }

    .container:hover {
        box-shadow: unset;
    }

    .textContainer h3 {
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .imageContainer {
        max-height: 80px;
    }
}