:root {
  --color-brand-primary: #2E4C7A;
  --color-brand-secondary: #ECCE8D;
  --color-white: #f8f8f8;
  --color-black: #131313;
  --color-grey: rgb(88, 88, 88);
  --color-borders: rgb(217, 217, 217);
  --base-font-size: 14px;
  --structural-header-height: 80px;
  --structural-max-width: 1200px;
  --structural-standard-padding: 12px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
  font-size: var(--base-font-size);
  color: var(--color-black);
  background-color: var(--color-white);
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

li {
  padding: unset;
  margin: unset;
}

.layout-content {
  width: 100%;
  margin: 0 auto;
}