.feature {
    margin-top: 120px;
    background-color: var(--color-black);
    color: var(--color-white);
    padding-top: 120px;
    padding-bottom: 160px;
}

.feature h3 {
    text-align: center;
    padding: 8px 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: var(--structural-max-width);
    padding: 0 var(--structural-standard-padding);
    margin: 0 auto;
}

.projectItem {
    display: flex;
    justify-content: center;
}

.imageContainer {
    position: relative;
    max-width: 360px;
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.projectImage {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(228, 228, 228, 0.926); /* var(--color-brand-secondary) with opacity */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.imageContainer:hover .overlay {
    opacity: 1;
}

.imageContainer:hover .projectImage {
    transform: scale(1.05);
}

.overlay h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-black);
    margin-bottom: 20px;
    text-align: center;
}

.overlay button {
    background-color: var(--color-white);
    color: var(--color-black);
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

/* Media query for tablet screens */
@media screen and (max-width: 1024px) {
    .projectsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media query for mobile screens */
@media screen and (max-width: 640px) {
    .projectsGrid {
        grid-template-columns: 1fr;
    }

    .feature {
        margin-top: 60px;
    }
}